/*Lato font face*/
@font-face{
    font-family:'myLatoLight';
    src: url('../assets/fonts/Lato-Light.ttf') format('truetype');
}
@font-face{
    font-family:'myLatoBold';
    src: url('../assets/fonts/Lato-Semibold.ttf') format('truetype');
}
@font-face{
    font-family:'myLatoThin';
    src: url('../assets/fonts/Lato-Thin.ttf') format('truetype');
}
#landing{
    width: 100%;
    height: 643px;
    position: relative;
    background: url(../assets/bg_landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
}
.menu{
    position: fixed;
    width: 100%;
    height: 107px;
    margin: auto;
    text-align: center;
    overflow-x: hidden;
    z-index: 10;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li h3{
    color: white;
}
.menu li a{
   display: block;
   padding: 20px 32px;
    margin: 20px 32px;
    color: #ffc800;
    font-family: 'myLatoBold'
}
.welcome{
    width: 100%;
    height: auto;
    padding-top: 140px;
    z-index: 10;
}
.welcome h1{
    text-align: justify;
    letter-spacing: 3px;
    font-family: 'myLatoLight';
}
#services{
    width: 100%;
    height: 643px;
}
#services h1{
    margin-bottom: 150px 30px;
}
#services p{
    font-size: 18px;
    text-align: center;
}
#about{
    width: 100%;
    height: 643px;
    position: relative;
    background: url(../assets/bg_about.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}
.about-writeup{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: auto;
    font-size: 25px;
}
footer{
    width: 100%;
    padding: 0;
    margin: 0;
    background: #000;
    color: #ffc800;
}
