/*Lato font face*/
@font-face{
    font-family:'myLatoLight';
    src: url('../assets/fonts/Lato-Light.ttf') format('truetype');
}
@font-face{
    font-family:'myLatoBold';
    src: url('../assets/fonts/Lato-Semibold.ttf') format('truetype');
}
@font-face{
    font-family:'myLatoThin';
    src: url('../assets/fonts/Lato-Thin.ttf') format('truetype');
}
/*LANDING SECTION*/
#landing{
    width: 100%;
    height: 643px;
    position: relative;
    background: url(../assets/bg_landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 643px;
    background-color: rgba(0,0,0,0.6);
    z-index: 3;
}
.menu{
    position: fixed;
    width: 100%;
    height: 107px;
    margin: auto;
    text-align: center;
    overflow-x: hidden;
    z-index: 10;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li h3{
    color: white;
    font-family: 'myLatoThin';
}
.menu li a{
   display: block;
   padding: 20px 32px;
    margin: 20px 32px;
    color: #ffc800;
    font-family: 'myLatoBold'
}
.menu li a:hover{
    background-color: rgb(0,0,0);
    transition: ease 0.7s;
}
.pastnav{
    background-color: rgba(0,0,0,0.9);
    height: 90px;
    transition: ease 0.6s;
    overflow-y: hidden;
}
.menu.pastnav h3{
    transition: ease 0.6s;
    color: #ffc800;
}
.menu.pastnav a{
    color: #fff;
}
.menu.pastnav a:hover{
    background:  #ffc800;
}
.welcome{
    width: 100%;
    height: auto;
    padding-top: 140px;
    z-index: 10;
}
.welcome h1{
    text-align: justify;
    letter-spacing: 3px;
    font-family: 'myLatoLight';
}
.add{
    color: #ffc800;
}
/*SHIMMER EFFECT begins*/
.shimmer{
    /* styling stuff */
    color: rgba(255,200,0,0.5);
}
.shimmer {
  /* the shimmer magic */
  background: -webkit-gradient(linear,left top,right top,from(#222),to(#222),color-stop(.5,#fff));
  background: -moz-gradient(linear,left top,right top,from(#222),to(#222),color-stop(.5,#fff));
  background: gradient(linear,left top,right top,from(#222),to(#222),color-stop(.5,#fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  -webkit-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}

@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-ms-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}
/*SHIMMER EFFECT ENDS*/
.btnstyle{
    background: #ffc800 !important;
    color: #000 !important;
    font-family: 'myLatoBold' !important;
}
/*LANDING ENDS HERE*/
/*SERVICES SECTION BEGINS*/
#services{
    width: 100%;
    height: 643px;
    font-family: 'myLatoLight';
}
#services h1{
    margin-bottom: 150px 30px;
}
#services a{
    font-family: 'myLatoBold';
}
#services p{
    font-size: 18px;
    text-align: center;
}
#about{
    width: 100%;
    height: 643px;
    position: relative;
    background: url(../assets/bg_about.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
    font-family: 'myLatoLight';
}
.about-writeup{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: auto;
    font-size: 25px;
}
footer{
    width: 100%;
    padding: 0;
    margin: 0;
    background: #000;
    color: #ffc800;
    font-family: 'myLatoLight';
}
footer h3{
    font-family: 'myLatoThin';
}
footer a{
    color: #ffc800;
}
